<div class="list-group">
  {{#items}}
    <a href="#!/project_{{idProject}}/issue_{{id}}" class="list-group-item">{{name}}</a>
  {{/items}}
  {{^items}} <h3 style="text-align: center;">Choose project</h3>{{/items}}
</div>
